### Imports

In [1]:
from hw2skeleton import cluster as cl
from hw2skeleton import io
import os
import pandas as pd
import numpy as np
aa3 = "ALA CYS ASP GLU PHE GLY HIS ILE LYS LEU MET ASN PRO GLN ARG SER THR VAL TRP TYR".split()

### Functions

### Testing

In [2]:
sites = io.read_active_sites('data')

Read in 136 active sites

In [3]:
sites[0].residues

[ASP 165, ASP 167, SER 211, ARG 213, ASP 254, LYS 258, ASP 278]

In [4]:
s = sites[0]

In [5]:
sites[0].onehot

,ALA,CYS,ASP,GLU,PHE,GLY,HIS,ILE,LYS,LEU,MET,ASN,PRO,GLN,ARG,SER,THR,VAL,TRP,TYR
0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
6,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [90]:
simMat = []
for i in range(len(sites[0:5])):
    p
    print(i)
    row = []
    for j in range(0,i):
        print(j)
        row.append(compute_similarity(sites[i].onehot,sites[j].onehot))
    simMat.append(row)

0
1
0
2
0
1
3
0
1
2
4
0
1
2
3

In [91]:
simMat = pd.DataFrame(simMat)

In [92]:
simMat

      0     1     2     3
0   NaN   NaN   NaN   NaN
1   5.0   NaN   NaN   NaN
2   9.0  10.0   NaN   NaN
3  13.0  15.0   8.0   NaN
4   4.0   4.0  10.0  13.0

In [29]:
a = sites[0].onehot
b = sites[1].onehot
c = sites[0].onehot

In [33]:
sites[1].residues

[SER 39, GLU 211, ASP 246, GLU 295, ASP 320, LYS 345]

In [69]:
def compute_similarity(site_a, site_b):
    if len(site_a) > len(site_a):
        site_a, site_b = site_b, site_a
    dists = range(len(site_a) + 1)

    for i in site_b.index:
        nDists = [i +1]
        for j in site_a.index:
            if np.equal(site_a.iloc[j],site_b.iloc[i]).all():
                nDists.append(dists[j])
            else:
                m = min((dists[j], dists[j+1], nDists[-1]))
                nDists.append(1 + m)
        dists = nDists
    similarity = dists[-1]
    return similarity

0